* {
    font-family: 'Advent Pro';
}

body {
    background-color: #f0f0f0;
}

.headr {
    background-color: #424647;
}

.ico {
    color: white;
}

.ico i {
    font-size: 3em;
}

.ico div {
    display: inline-block;
}

.nav-item {
    transition: .5s;
}

.nav-item a {
    font-weight: bold;
}

.nav-item:hover {
    background-color: #424647;
    border-radius: 5px;
    color: white!important;
}

.nav-item:hover a {
    color: white !important;
}

.text {
    background-color: #424647;
    color: white;
    padding: 10px;
    font-size: 3em;
}

.custom {
    padding: 10px;
    margin: 10px;
    border: none;
    font-size: 1em;
    background-color: #424647;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 0 black;
    transition: .5s;
}

.custom:hover {
    box-shadow: 0 0 0 black;
}

.background {
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.backBlack {
    background-color: rgba(0, 0, 0, .5);
    color: white;
    text-align: center;
    padding: 20px;
    transition: .5s;
}

.center {
    text-align: center;
    padding: 20px;
}

.cardImg {
    box-shadow: 0 0 15px#B0B0B0 !important;
    border-radius: 8px;
    overflow: hidden;
    transition: .5s;
}

.cardImg:hover {
    background-color: white;
}

.roundIco {
    padding: 12px;
    font-size: 2.5em;
    background-color: black;
    border-radius: 57px;
}

.processDetail {
    margin-top: 20px;
    text-align: center;
}

.processDetail p {
    margin-top: 20px;
}

.large {
    font-size: 3em;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.imgGallery {
    width: 100%;
}

.imgGallery:hover {
    transition: .5s;
    transform: scale(1.2, 1.2);
}

.square {
    width: 100%;
    box-shadow: -30px 30px 0 darkcyan;
    border-radius: 5px;
    transition: .5s;
}

.square:hover {
    box-shadow: -15px 15px 0 black;
}

.squareLeft {
    width: 100%;
    box-shadow: 30px 30px 0 darkcyan;
    border-radius: 5px;
    transition: .5s;
}

.squareLeft:hover {
    box-shadow: 15px 15px 0 black;
}

.list li {
    list-style-type: square;
    font-size: 1.5em;
}

.bold {
    font-weight: bold;
    font-size: 1.5em;
}

.heading {
    text-align: center;
    padding: 20px;
    background-color: darkcyan;
    color: white;
    font-weight: bold;
}

.content {
    text-align: center;
    padding: 30px;
}

.content i {
    font-size: 3em;
    padding: 33px;
    margin: 30px;
    background-color: darkcyan;
    color: white;
    border-radius: 75px;
    width: 2.3em;
    height: 2.3em;
}

.teamContent {
    text-align: center;
    padding: 20px;
}

p.color {
    color: darkcyan;
    font-weight: bold;
    font-size: 2em;
}

p.desig {
    font-size: 1.5em;
    font-weight: bold;
}